<h1 class="title">Listado de todos los productos agregados hasta el momento</h1>

{{#each products}}
      <div class="products-container">
            <h2>Nombre: {{this.title}}</h2>
            <p>Descripción: {{this.description}}</p>
            <p>Precio: {{this.price}}</p>
      </div>
{{/each}}