<h1 class="title">Listado de productos</h1>

<div class="products-wrapper">
{{#each products}}
<div class="product-container">
            <h2>Nombre: {{this.title}}</h2>
            <p>Descripción: {{this.description}}</p>
            <p>Precio: €{{this.price}}</p>
</div> 
{{/each}}
</div>