<h1 class="title">Manejador de productos en tiempo real</h1>
<div class="products-wrapper">
      {{#each products}}
      <div class="product-container">
            <h2>Nombre: {{this.title}}</h2>
            <p>Descripción: {{this.description}}</p>
            <p>Precio: €{{this.price}}</p>
            <button>Eliminar producto</button>
      </div>
      {{/each}}
</div>
<form class="" action="">
      <div class="inputs-container">
            <div>
                  <label for="title">Nombre:</label>
                  <input type="text" name="" id="title">
            </div>
            <div>
                  <label for="title">Descripción:</label>
                  <input type="text" name="" id="description">
            </div>
            <div>
                  <label for="title">Precio:</label>
                  <input type="number" name="" id="price">
            </div>
            <div>
                  <label for="title">Thumbnails:</label>
                  <input value="[]" type="text" name="" id="thumbnails" disabled>
            </div>
            <div>
                  <label for="title">Stock:</label>
                  <input type="number" name="" id="stock">
            </div>
            <div>
                  <label for="title">Código:</label>
                  <input type="text" name="" id="code">
            </div>
            <div>
                  <label for="title">Estado:</label>
                  <input value="true" type="text" name="" id="status" disabled>
                  
            </div>
            <div>
                  <label for="title">Categoría:</label>
                  <input value="muebles" type="text" name="" id="category" disabled>
            </div>
            <div>
                  <button type="button" id="addProductBtn">Agregar producto</button>
            </div>
      </div>
</form>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script type="module" src="js/main.js"></script>